		body{
			font-family: sans-serif;
			background-color: #fbf4c7;
		}
		#header{
			padding: 4%;
			color: white;
			text-align: center;
			
			background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/hero.png");
			background-repeat: no-repeat;
			background-size: 100% 100%;
		}
		#header h1{
			font-size: 6em;
			text-transform: uppercase;
		}
		#header span{
			font-size: 1em;
			text-transform: capitalize;
		}
		#navigation ul{
			margin-left: 76%;
		}
		#navigation ul li{
			margin: 0 1px;
			padding-left: 6%;
			display: inline;
			list-style-type: none;
			font-size: 1.2em;
			border-left: solid 2px #626262;
		}
		#navigation ul li a{
			padding: 5% 1% 5% 0;
			background-color: transparent;
			text-decoration: none;
			color: #626262;
		}

		#navigation ul li:hover{
			border-left: solid 6px #333;
			transition: 0.5s ease;
		}
		#navigation ul li a:hover{
			color: #333;
			font-weight: bold;
		}
		#mainSection{
			padding: 2em 0;
			display: grid;
			grid-template-columns: 100%/*32% 32% */;
			grid-gap: 2em;
		}

		.sectionParagraph{
			padding: 8em;
			margin: 0;
			border-radius: 0px;
			box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
			background-color: #e8e9f9;
			color: #333;
			font-size: 18px;
			text-align: justify;
			line-height: 180%;
		}
		#footer{
			background-color: #333;
			padding: 2em;
			color: #111;
		}
		#footer h2{
			text-transform: capitalize;
			color: white;
		}
		#footer h2 span{
			padding: 0px 15px 10px 0;
			border-bottom: solid 3px white;
		}
		#footer #socialAddresses{
			display: grid;
			grid-template-columns: 33% 33% 33%;
		}
		#footer .socialMediaHandles{
			text-align: center;
			line-height: 5em;
		}
		#footer .socialMediaHandles img{
			display: block;
			margin: 0 45%;
			border-radius: 50%;
			padding-top: 1em;
			border-bottom: solid 5px #111;
		}
		#footer .socialMediaHandles span a{
			text-transform: lowercase;
			color: white;
		}
		#footer .socialMediaHandles #copyrights{
			color: white;
			font-weight: bold;
			text-transform: capitalize;
		}